.gridbox {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    min-height: 25px;
    min-width: 25px;
    user-select: none;
}

.gridbox-none {
    background-color: #ffffff;
}

.gridbox-one {
    background-color: lightgray;
}

.gridbox-two {
    background-color: darkgray;
}

.gridbox-three {
    background-color: gray;
}

.gridbox-four {
    background-color: rgb(67, 67, 67);
}

.gridbox-five {
    background-color: black;
}

.gridbox-color {
    background-color: white;
}

.row {
    display: flex;
}

.ui {
    display: flex;
}

.ui > .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}