body {
    margin: 0px;
}

.gridbox {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    min-height: 25px;
    min-width: 25px;
    user-select: none;
}

.row {
    display: flex;
}

.ui {
    display: flex;
    justify-content: center;
}

.ui > .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    margin: 15px;
}

.buttons > .btn {
    padding: 15px;
    background-color: gray;
    align-items: center;
    text-align: center;
}

.title-name {
    text-align: center;
}